<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Admin - Movies </title>
		<meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="user-scalable = no"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    
	    <script src="http://code.jquery.com/jquery.js"></script>
	    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>	   
	    <script th:src="@{/js/components/admin/movies.js}"></script>

	    
	    <!-- Latest compiled and minified CSS-->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />		
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	    
	    <!-- Optional theme-->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	    
	    <!-- Latest compiled and minified JavaScript-->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"> </script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		</head>
		
		<body>			
			<div id="irm-admin">
			   <nav class="navbar navbar-default navbar-fixed-top">
				  <div class="container">
				   <div class="navbar-header">
				   	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
				       <span class="sr-only">Toggle navigation</span>
				       <span class="icon-bar"></span>
				       <span class="icon-bar"></span>
				       <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" th:href="@{/admin}">
				        iRentMovies
				      </a>
				  </div>
				   <div class="collapse navbar-collapse" id="collapse-1">
					      <ul class="nav navbar-nav">
					        <li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        Application
						        </a>
						        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						          <a class="dropdown-item " th:href="@{/admin/users}">Users</a>
						          <a class="dropdown-item" th:href="@{/admin/movies}">Movies</a>
						        </div>
     						 </li>					        
					      </ul>	
					      <ul class="nav navbar-nav navbar-right">
					           <li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        <span class="glyphicon glyphicon-user"></span>
						        </a>
						        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						          <a class="dropdown-item disabled" href="#">Profile</a>
						          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
						        </div>
     						 </li>
					        </ul>					      
				    	</div>
				   </div>
			  </nav>		  			  
			  <div class="container">
			  	<div class="btn-group pull-right" role="group">
			  		<form th:object="${movie}" th:action="@{/admin/movies/{path}(path=${movie.id})}" th:method="PUT">
				  		<button type="submit" class="btn btn-primary btn-md outline" >
				  			 <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Movie
				  		</button>
			  		</form>	
			  	</div>
			  	<div class="btn-group pull-left" role="group">
			  		<form th:object="${movie}" th:action="@{/admin/movies/{path}(path=${movie.id})}" th:method="DELETE">
				  		<button type="submit" class="btn btn-primary btn-md outline" >
				  			 <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Movie
				  		</button>
			  		</form>	
			  	</div>
			  	<div class="movieInfo" th:object="${movie}">
			  		<div class="col-sm-8 col-sm-offset-2">
			  			<label>Title: </label>
			  			<p id ="title" th:text="${movie.title}"></p>
			  			<label>Movie: </label>
			  			<div class="embed-responsive embed-responsive-16by9" id="video">
			  				<iframe class="embed-responsive-item" th:src="@{${movie.url_movie}}"></iframe>
			  			</div>
			  			<label style="width:30%">Poster: </label>
			  			<label>Details: </label>
			  			<br />
			  			<div id="poster" class="pull-left" style="width:25%; margin-right:5%">
			  				<input type="hidden" id="posterUrl" name="posterUrl" th:value="${movie.url_cover}"/>
			  			</div>			  			
		  				<!-- <img class="rounded" style="width:25%;height:auto; margin-right:5%" id="poster" th:src="${(!#strings.isEmpty(movie.url_cover)) ? movie.url_cover : ''}" alt="${movie.title}"/> -->
			  			<div class="pull-right" style="width:70%;">		  			
			  			<div class="panel-group" id="accordion">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h1 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						        <label> Description </label></a>
						      </h1>
						    </div>
						    <div id="collapse1" class="panel-collapse collapse">
						      <div class="panel-body"><p id="description" th:text="${movie.description}"></p></div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h1 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						        <label> Year </label></a>
						      </h1>
						    </div>
						    <div id="collapse2" class="panel-collapse collapse">
						      <div class="panel-body"><p id="year" th:text="${movie.year}"></p></div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h1 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						        <label> Director </label></a>
						      </h1>
						    </div>
						    <div id="collapse3" class="panel-collapse collapse">
						      <div class="panel-body"><p id="director" th:text="${movie.director}"></p></div>
						    </div>
						  </div>
						   <div class="panel panel-default">
						    <div class="panel-heading">
						      <h1 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						        <label> Cast </label></a>
						      </h1>
						    </div>
						    <div id="collapse4" class="panel-collapse collapse">
						      <div class="panel-body"><p id="cast" th:text="${movie.cast}"></p></div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h1 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						        <label> Rating </label></a>
						      </h1>
						    </div>
						    <div id="collapse5" class="panel-collapse collapse">
						      <div class="panel-body"><p id="rating" th:text="${movie.rating}"></p></div>
						    </div>
						  </div>					  
						 </div>				  			 
			  			</div>	  					 			  											  		
			  		</div>
			  	</div>
			  </div>
			</div>
		</body>
</html>