<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login</title>
		
		<meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="user-scalable = no"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    
	   <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
	    <script src="http://code.jquery.com/jquery.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			   
	    <!-- Latest compiled and minified CSS-->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />		
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	    
	    <!-- Optional theme-->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	    
	    <!-- Latest compiled and minified JavaScript-->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"> </script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/components/login/login.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		</head>
		
		<body>
		<div id="irm-login">
		  <div class="jumbotron text-center">
		    <h1 th:text="iRentMovies"></h1>
		  </div>
		  <div class="container">
		  	<div class="col-md-6 col-md-offset-3">
			  	<form th:action="@{/login}" method="POST" class="form-horizontal">
			  		<h3 style="text-align:center;" th:text="Welcome"></h3>
			  		<br/>
			  		<div class="form-group">
				  		<label> User Name: </label>
				  		<input type="text" id="username" name="username"
				  		th:placeholder="Username" class="form-control" />
			  		</div>
			  		<div class="form-group">
				  		<label> Password: </label>
				  		<input type="password" id="password" name="password"
				  		th:placeholder="Password" class="form-control" />
			  		</div>
					<div align="center" class="loginButton">
						<button id="loginButton" class="btn btn-primary btn-md outline" name="Submit" value="Login" type="Submit" th:text="Login"></button>	
					</div>				
					<br/>
			  		<div align="center" th:if="${param.error}">
						<p class="validation-message">Email or Password invalid, please verify</p>
					</div>
			  	</form>
			  		<p style="text-align: center;"> If you don't have an account, please inform to the admin</p>	  			
		  	</div>
		  </div>
		  <footer class="footer-site">
		  	<p> &copy; iRentMovies 2017 </p> 
		  </footer> 
		</div>
	</body>
</html>